<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>ACCY Jupyterhub</title>
	</head>
	<body>
          <div>
          Welcome to Jupyterhub server for ACCY 570/571.<br>
          This server is sponsored by Ernst & Young.<br>
          <a href="http://www.ey.com/">
            <img src="http://www.ey.com/ecimages/EY.gif" alt="Ernst & Young" align="middle">
          </a>
          </div>
          <div>
          Click the button to use the notebook server. You may need to authenticate with Shibboleth.<br>
          <form action="https://{{ansible_host}}/hub/login">
              <input type="submit" value="Go to Jupyterhub">
          </form>
          </div>
	</body>
</html>
